$color-page-header-footer__bg: #a09e8e;
$color-page-main__bg: #94927c;
$color-border: #d3d3d39a;

$size-page-header__height--v1: 90px;
$size-page-footer__height: 80px;
$size-additional-height: 10px;

@mixin dark-mode {
    // filter: invert(1) hue-rotate(100deg);
}

@mixin element-style--1 {
    border: none;
    margin: 1px auto;
    padding: 2px 10px;
    border-radius: 5px;
    height: 1.5rem;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;

    &:hover {
        transform: scale(.95);
    }
}

*, *::after, *::before {
    box-sizing: border-box;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

html {
    background-color: #000000;
    @include dark-mode();
}

img, video, iframe, canvas, svg {
    @include dark-mode();
}

.page {

    &-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-page-header-footer__bg;
        height: $size-page-header__height--v1;

        &__logo {
            float: left;
            margin: 10px 10px 0 0;
        }
    }

    &-main {
        width: 100%;
        overflow: auto;
        height: 100vh;
        padding-top: calc($size-page-header__height--v1 + $size-additional-height);
        padding-bottom: calc($size-page-footer__height + $size-additional-height);
        background-color: $color-page-main__bg;

        &__title {
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-border;
        }
    }

    &-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $size-page-footer__height;
        padding: 10px;
        text-align: center;
        background-color: $color-page-header-footer__bg;

        * {
            margin: 0 auto;
        }
    }
}

.draw {
    &-container {
        margin: 10 auto;
        text-align: center;
    }

    &-wrapper {
        margin: 10px auto;
        width: fit-content;
        height: fit-content;
        border: 1px solid $color-border;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.753);
    }

    &__btn-wrapper {
        width: fit-content;
        margin: 0 auto;
    }

    &__btn {
        &-reset,
        &-save,
        &-undo {
            @include element-style--1();
            width: auto;
        }
    }

    &__canvas {
        touch-action: none;
    }
}

.settings {
    &-wrapper {
        width: 100%;
        padding: 10px;
    }

    &__draw-size {
        width: fit-content;
        margin: 0 auto;

        input {
            @include element-style--1();
            cursor: auto;
        }

        &__title {
            margin: 5px auto;
            border-bottom: 1px solid $color-border;
        }
    }

    &__stroke-style {
        width: fit-content;
        margin: 10px auto;
    }

    &__color-box {
        margin: 10px 10px;
        width: 30px;
        height: 30px;
        border: none;
        box-shadow: 1px 1px 4px black;
        cursor: pointer;

        &:hover {
            opacity: .5;
        }

        &.black {
            background-color: black;
        }
        &.white {
            background-color: white;
        }
        &.red {
            background-color: red;
        }
        &.green {
            background-color: green;
        }
        &.blue {
            background-color: blue;
        }
    }
    &__line-join {
        width: fit-content;
        margin: 10px auto;

        &__options {
            @include element-style--1();
            margin: 10px 10px;
            width: 90px;
            border: none;            
            cursor: pointer;
        }
    }

    &__line-width {
        width: fit-content;
        margin: 10px auto;
    }
}

.active {
    transform: scale(.8);
}