*, *::after, *::before {
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

html {
  background-color: #000000;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a09e8e;
  height: 90px;
}
.page-header__logo {
  float: left;
  margin: 10px 10px 0 0;
}
.page-main {
  width: 100%;
  overflow: auto;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #94927c;
}
.page-main__title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6039215686);
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 10px;
  text-align: center;
  background-color: #a09e8e;
}
.page-footer * {
  margin: 0 auto;
}

.draw-container {
  margin: 10 auto;
  text-align: center;
}
.draw-wrapper {
  margin: 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid rgba(211, 211, 211, 0.6039215686);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.753);
}
.draw__btn-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.draw__btn-reset, .draw__btn-save, .draw__btn-undo {
  border: none;
  margin: 1px auto;
  padding: 2px 10px;
  border-radius: 5px;
  height: 1.5rem;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
  width: auto;
}
.draw__btn-reset:hover, .draw__btn-save:hover, .draw__btn-undo:hover {
  transform: scale(0.95);
}
.draw__canvas {
  touch-action: none;
}

.settings-wrapper {
  width: 100%;
  padding: 10px;
}
.settings__draw-size {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.settings__draw-size input {
  border: none;
  margin: 1px auto;
  padding: 2px 10px;
  border-radius: 5px;
  height: 1.5rem;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
  cursor: auto;
}
.settings__draw-size input:hover {
  transform: scale(0.95);
}
.settings__draw-size__title {
  margin: 5px auto;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6039215686);
}
.settings__draw-size__btn-set {
  border: none;
  margin: 1px auto;
  padding: 2px 10px;
  border-radius: 5px;
  height: 1.5rem;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
  width: 100px;
}
.settings__draw-size__btn-set:hover {
  transform: scale(0.95);
}
.settings__stroke-style {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
}
.settings__color-box {
  margin: 10px 10px;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
}
.settings__color-box:hover {
  opacity: 0.5;
}
.settings__color-box.black {
  background-color: black;
}
.settings__color-box.white {
  background-color: white;
}
.settings__color-box.red {
  background-color: red;
}
.settings__color-box.green {
  background-color: green;
}
.settings__color-box.blue {
  background-color: blue;
}
.settings__line-join {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
}
.settings__line-join__options {
  border: none;
  margin: 1px auto;
  padding: 2px 10px;
  border-radius: 5px;
  height: 1.5rem;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
  margin: 10px 10px;
  width: 90px;
  border: none;
  cursor: pointer;
}
.settings__line-join__options:hover {
  transform: scale(0.95);
}
.settings__line-width {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
}

.active {
  transform: scale(0.8);
}/*# sourceMappingURL=styles.css.map */